/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#FFF;
}
/*---start-wrap----*/
.wrap{
	width:70%;
	margin:0 auto;
}
/*---start-header----*/
.header {
	padding: 3em 0px 0px 0px;
	width: 80%;
	margin: 0 auto;
}
.header-left{
	float: left;
	width: 49%;
	text-align: center;
}
.header-left span{
	background:url(../images/device.png) no-repeat 0px 0px;
	display:inline-block;
	width:340px;
	height:720px;
}
.header-right p{
	font-size: 2em;
	color: #4C4C4C;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0.8em 0 0.6em 0;
}
.header-right {
	float: right;
	width: 49%;
	padding: 3.5em 0px 0px 0px;
}
.fea-list li{
	display: block;
	margin-bottom: 0.99em;
}
.fea-list li a{
	font-size: 1em;
	font-weight: 300;
	color:#4C4C4C;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
} 
.fea-list li a:hover{
	color:#146BFB;
}
.fea-list li a span{
	width: 22px;
	height:22px;
	background: url(../images/img-sprit.png) no-repeat -367px -9px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.big-btns li{
	display:inline-block;
}
.big-btns li a {
	width: 135px;
	height: 40px;
	display: inline-block;
	-webkit-transform: translateZ(0); /* HACK: See: http://stackoverflow.com/questions/13347947/css-filter-on-retina-display-fuzzy-images */
	-webkit-filter: invert(100%); 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
.big-btns li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity:1;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.iapps {
	background: url(../images/Download_on_the_App_Store_Badge_US-UK_135x40.svg) no-repeat 0px 0px;
}
.big-btns {
	margin-top: 2em;
}
/*----start-content----*/
.content{
	margin-top: 3em;
}
.top-grid{
	width: 45%;
	float: left;
	margin-right: 8%;
	margin-bottom: 5%;
}
.top-grid:nth-child(2),.top-grid:nth-child(4){
	margin-right:0;
}
.top-grid-left {
	width: 13%;
	float: left;
	margin-top: 0.3em;
}
.top-grid-left span{
	width: 65px;
	height: 67px;
	display:inline-block;
}
.icon1 span{
	background: url(../images/img-sprit.png) no-repeat 4px 1px;
}
.icon2 span{
	background: url(../images/img-sprit.png) no-repeat -61px 1px;
}
.icon3 span{
	background: url(../images/img-sprit.png) no-repeat -126px 1px;
}
.icon4 span{
	background: url(../images/img-sprit.png) no-repeat -191px 1px;
}
.top-grid-right{
	width:84%;
	float:right;
}
.top-grid-right h2{
	font-size: 1.8em;
	color: #4C4C4C;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0px 0px 0.4em 0;
	display: block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.top-grid-right p{
	font-size: 1em;
	font-weight: 300;
	color: #4C4C4C;
	line-height:1.5em;
}
.content-top-grids {
	margin: 6em 0 2em 0;
}
/*---//start-divice-screens-----*/
.img-cursual {
	width: 78%;
	margin: 0 auto;
}
/*---//End-divice-screens-----*/
/*---start-panels----*/
.panels {
	margin-top: 6em;
}
.panel-left{
	float: left;
	width: 35%;
	margin-right: 2%;
}
.panel-left span{
	background:url(../images/dual-divice.png) no-repeat 0px 0px;
	width:380px;
	height:557px;
	display:block;
}
.panel-right{
	float: right;
	width: 63%;
	margin-top: 8em;
}
.panel-right h3{
	font-size: 2.5em;
	color: #4C4C4C;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0.8em 0 0.3em 0;
}
.panel-right p{
	font-size: 1em;
	font-weight: 300;
	color: #4C4C4C;
	line-height: 1.8em;
	width: 79%;
}
/*---//End-panels----*/
/
/*---start-clients-sider-----*/
/*-----*/
.flexiselDemo3 {
	display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow: hidden;
	width: 79%;
	margin: 0 auto;
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
    cursor:pointer;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100px;
    max-height:45px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../images/button-next.png) no-repeat;
}
/*---//clients-sider-----*/
.text-box-dark{
}
.text-box-light{
	position: relative;
}
/*---start-checkbox----*/
input[type=checkbox].css-checkbox1,input[type=checkbox].css-checkbox2{
	display: none;
}
input[type=checkbox].css-checkbox1 + label.css-label1 {
	height: 20px;
	width:21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: super;
	cursor: pointer;
	background: url(../images/img-sprit.png) no-repeat -314px -277px;
}
input[type=checkbox].css-checkbox1:checked + label.css-label1 {
	background: url(../images/img-sprit.png) no-repeat -335px -277px;
}
input[type=checkbox].css-checkbox2 + label.css-label2 {
	height: 20px;
	width: 23px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: -20px 0px;
	vertical-align: super;
	cursor: pointer;
	background: url(../images/img-sprit.png) no-repeat -335px -277px;
}
input[type=checkbox].css-checkbox2:checked + label.css-label2 {
	background: url(../images/img-sprit.png) no-repeat -314px -277px;
}
input[type=checkbox].css-checkbox3,input[type=checkbox].css-checkbox4,input[type=checkbox].css-checkbox5,input[type=checkbox].css-checkbox6{
	display: none;
}
input[type=checkbox].css-checkbox3 + label.css-label3 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox3:checked + label.css-label3 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox4 + label.css-label4 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox4:checked + label.css-label4 {
	background-position: 0px -38px;
}
input[type=checkbox].css-checkbox5 + label.css-label5 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox5:checked + label.css-label5 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox6 + label.css-label6 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox6:checked + label.css-label6 {
	background-position: 0px -38px;
}
/*-----*/
/*----*/
.rightone span{
	height:20px;
	width:20px;
	background: url(../images/img-sprit.png) no-repeat -316px -9px;
	display:inline-block;
}
.erroeone span{
	height: 20px;
	width: 20px;
	background: url(../images/img-sprit.png) no-repeat -336px -9px;
	display: inline-block;
}
.btn2{
	background: #5C75AE;
	font-size: 1.2em;
	font-weight: 600;
	color: #FFF;
	padding: 0.6em 1em;
	text-align: center;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.btn2:hover{
	background:#4C4C4C;
}
.freeprice,.Price{
	font-size:1.5em;
	font-weight:700;
	color:#4C4C4C;
}
.preprice{
	font-size:1.5em;
	font-weight:700;
	color:#FF2F4C;
}
/*----start-faq-----*/
.faq-grids {
	margin: 4em 0;
}
.faq-header{
	text-align:center;
}
.faq-header h3{
	font-size: 2.5em;
	color: #4C4C4C;
	font-weight: 300;
	line-height: 1.5em;
}
.faq-header p{
	font-size: 1.2em;
	color: #4C4C4C;
	line-height: 1.5em;
	margin: 0 auto;
}
.faq-grid-left{
	float:left;
	width: 50%;
}
.faq-grid-left-grid h4 a{
	color: #4C4C4C;
	font-size: 1em;
	font-weight: 700;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.faq-grid-left-grid h4 a:hover{
	color: #146BFB;
}
.faq-grid-left-grid p{
	font-size: 0.875em;
	color: #4C4C4C;
	line-height: 1.8em;
	margin: 0.5em auto 0.5em 0;
	width: 90%;
}
.faq-grid-left-grid {
	margin-bottom: 2em;
}
.faq-grid-right{
	margin-right:0;
}
/*---start-stay-with-us-----*/
.stay-with-head{
	text-align:center;
}
.stay-with-head h3{
	font-size: 2.5em;
	color: #4C4C4C;
	font-weight: 300;
	line-height: 1.5em;
}
.stay-with-head p{
	font-size: 1.1em;
	color: #4C4C4C;
	line-height: 1.5em;
	margin: 0 auto;
}
/*----*/
.social-icons ul li{
	display:inline-block;
	margin-right: 7px;
}
.social-icons ul li a{
	width:60px;
	height:60px;
	display:inline-block;
}
.twitter{
	background: url(../images/img-sprit.png) no-repeat -2px -194px;
}

.social-icons{
	text-align:center;
	margin: 2em 0;
}
.stay-with-head p a{
	color:#146BFB;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.stay-with-head p a:hover{
	color:#4C4C4C;
}
/*---End-stay-with-us-----*/
/*---start-footer-left-----*/
.footer-left{
	float:none;
	text-align: center;
}
.footer {
	margin: 1.5em 0;
}
.footer-left p{
	font-size: 0.875em;
	color: #4C4C4C;
	line-height: 1.8em;
	margin: 0.5em auto 0.5em 0;
}
.footer-left ul li{
	border-right: 1px solid rgba(119, 119, 119, 0.32);
	padding: 0 0.5em;
	display:inline-block;
}
.footer-left ul li:nth-child(1){
	padding-left:0;
}
.footer-left ul li a{
	color:#146BFB;
	font-size:0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.footer-left ul li a:hover{
	color:#4C4C4C;
}
.footer-right{
	float:right;
}
/*----footer-right-----*/
.footer-right p{
	font-size: 0.875em;
	color: #4C4C4C;
	line-height: 1.8em;
	margin: 2.7em auto 0.5em 0;
}
.footer-right p a{
	color:#146BFB;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.footer-right p a:hover{
	color:#4C4C4C;
}
/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 2%;
	overflow: hidden;
	width: 50px;
	height: 49px;
	border: none;
	text-indent: 100%;
	background: url(../images/img-sprit.png) no-repeat -259px 0px;
	bottom: 10px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.header-left span{
		background:url(../images/device@2x.png) no-repeat 0px 0px;
		background-size: 340px 720px;
	}
}

@media only screen and (max-width: 1440px) and (min-width:1366px) {
	.wrap{
		width:75%;
	}
}
@media only screen and (max-width: 1366px) and (min-width:1280px) {
	.wrap{
		width:80%;
	}
	.top-grid {
		margin-right: 6%;
		margin-bottom: 4%;
	}
	.panel-right p {
		width: 97%;
	}
	.faq-grid-left-grid p {
		width: 100%;
	}
}
@media only screen and (max-width: 1280px) and (min-width:1024px) {
	.wrap{
		width:85%;
	}
	.top-grid {
		margin-right: 6%;
		margin-bottom: 4%;
	}
	.panel-right p {
		width: 97%;
	}
	.faq-grid-left-grid p {
		width: 100%;
	}
}
@media only screen and (max-width: 1024px) and (min-width:768px) {
	.wrap{
		width:90%;
	}
	.header-right {
		padding: 0.5em 0px 0px 0px;
	}
	.header-right p {
		font-size: 1.5em;
	}
	.header-left span {
		background: url(../images/device-1024w.png) no-repeat 0px 0px;
		width: 280px;
		height: 593px;
	}
	.top-grid-right {
		width: 80%;
	}
	.top-grid {
		margin-right: 6%;
		margin-bottom: 4%;
	}
	.panel-right p {
		width: 97%;
	}
	.faq-grid-left-grid p {
		width: 100%;
	}
	.panel-right {
		width: 55%;
	}
}

@media only screen and (max-width: 1024px) and (min-width:768px) and (-webkit-min-device-pixel-ratio: 2) {
	.header-left span{
		background:url(../images/device-1024w@2x.png) no-repeat 0px 0px;
		background-size: 280px 593px;
	}
}

@media only screen and (max-width: 768px) and (min-width:640px) {
	.wrap{
		width:90%;
	}
	.header-right {
		width: 51%;
		padding: 2.5em 0px 0px 0px;
	}
	.header-right p {
		font-size: 1.5em;
	}
	.top-grid-left {
		width: 10%;
	}
	.top-grid-right {
		width: 88%;
	}
	.top-grid-right h2 a {
		font-size: 1.5em;
		margin: 0px 0px 0.2em 0;
	}
	.top-grid {
		margin-right:0%;
		margin-bottom:1.5%;
		width: 100%;
		float: none;
	}
	.panel-right p {
		width: 97%;
	}
	.faq-grid-left-grid p {
		width: 90%;
	}
	.panel-right {
		width: 100%;
		float: none;
		margin:0 0 1.5em 0; 
		text-align:center;
	}
	/*----*/
	.header-left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.header-left span {
		background: url(../images/device-768w.png) no-repeat 0px 0px;
		width: 200px;
		height: 436px;
	}
	.header-right {
		float:none;
		width:100%;
		margin:1em 0;
		text-align:center;
		padding: 0em 0px 0px 0px;
	}
	.fea-list{
		display:none;
	}
	.logo{
		display:none;
	}
	.fea-list{
		text-align:left;
	}
	#toTop {
		right: 1%;
		bottom:30px;
	}
	.content-top-grids {
		margin: 2em 0 2em 0;
	}
	.panel-right h3 {
		margin:0;
	}
	.panel-left {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.panel-left span {
		background: url(../images/sdual-divice.png) no-repeat 0px 0px;
		width: 250px;
		height: 366px;
		display: block;
		margin:0 auto;
	}
}

@media only screen and (max-width: 640px) and (min-width:480px) {
	.wrap{
		width:90%;
	}
	.header-right {
		width: 51%;
		padding: 2.5em 0px 0px 0px;
	}
	.header-right p {
		font-size: 1.5em;
	}
	.top-grid-left {
		width: 10%;
	}
	.top-grid-right {
		width: 88%;
	}
	.top-grid-right h2 a {
		font-size: 1.5em;
		margin: 0px 0px 0.2em 0;
	}
	.top-grid {
		margin-right:0%;
		margin-bottom:1.5%;
		width: 100%;
		float: none;
	}
	.panel-right p {
		width: 97%;
	}
	.faq-grid-left-grid p {
		width: 90%;
	}
	.panel-right {
		width: 100%;
		float: none;
		margin:0 0 1.5em 0; 
		text-align:center;
	}
	/*----*/
	.header-left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.header-left span {
		background: url(../images/device-768w.png) no-repeat 0px 0px;
		width: 200px;
		height:436px;
	}
	.header-right {
		float:none;
		width:100%;
		margin:1em 0;
		text-align:center;
		padding: 0em 0px 0px 0px;
	}
	.fea-list{
		display:none;
	}
	.logo{
		display:none;
	}
	.fea-list{
		text-align:left;
	}
	#toTop {
		right: 1%;
		bottom:30px;
	}
	.content-top-grids {
		margin: 2em 0 2em 0;
	}
	.panel-right h3 {
		margin:0;
	}
	.faq-grid-left-grid {
		margin-bottom: 1.5em;
		margin-right:2em;
	}
	.faq-grid-left-grid:nth-child(2),.faq-grid-left-grid:nth-child(4),.faq-grid-left-grid:nth-child(6),.faq-grid-left-grid:nth-child(8){
		margin-right:0;
	} 
}

@media only screen and (max-width: 768px) and (min-width:480px) and (-webkit-min-device-pixel-ratio: 2) {
	.header-left span{
		background:url(../images/device-768w@2x.png) no-repeat 0px 0px;
		background-size: 200px 436px;
	}
}

@media only screen and (max-width:480px) and (min-width:320px) {
	.wrap{
		width:90%;
	}
	.wrap input[type="text"],.wrap input[type="submit"],.wrap input[type="button"]{
		-webkit-appearance:none;
	}
	.header-right {
		width: 51%;
		padding: 2.5em 0px 0px 0px;
	}
	.header-right p {
		font-size: 1.5em;
		margin: 0.1em 0 0.2em 0;
	}
	.top-grid-left {
		width: 100%;
		float:none;
		text-align:center;
	}
	.top-grid-right {
		width:100%;
	}
	.top-grid-right h2 a {
		font-size: 1.5em;
		margin: 0px 0px 0.2em 0;
	}
	.top-grid {
		margin-right:0%;
		margin-bottom:1.5%;
		width: 100%;
		float: none;
		text-align:center;
	}
	.panel-right p {
		width: 97%;
	}
	.faq-grid-left-grid p {
		width: 100;
	}
	.panel-right {
		width: 100%;
		float: none;
		margin:0 0 1.5em 0; 
		text-align:center;
	}
	/*----*/
	.header-left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.header-left span {
		background: url(../images/icon152x152.png) no-repeat 0px 0px;
		width: 152px;
		height: 152px;
	}
	.header-right {
		float:none;
		width:100%;
		margin:1em 0;
		text-align:center;
		padding: 0em 0px 0px 0px;
	}
	.fea-list{
		display:none;
	}
	.logo{
		display:none;
	}
	.fea-list{
		text-align:left;
	}
	#toTop {
		right: 1%;
		bottom:30px;
	}
	.content-top-grids {
		margin: 2em 0 2em 0;
	}
	.panel-right h3 {
		margin:0;
	}
	.faq-grid-left-grid {
		margin-bottom: 1.5em;
		margin-right:0em;
	}
	.faq-grid-left-grid:nth-child(2),.faq-grid-left-grid:nth-child(4),.faq-grid-left-grid:nth-child(6),.faq-grid-left-grid:nth-child(8){
		margin-right:0;
	} 
	.header {
		padding: 2em 0px 0px 0px;
	}
	.big-btns {
		margin-top: 1em;
	}
	.panel-right h3,.testimonial-head h4,.news-letter-header h3{
		font-size: 2em;
	}
	.btn2{
		font-size: 0.9em;
	}
	.faq-grid-left {
		width: 100%;
		margin-right:0;
	}
	.footer-right {
		float: none;
		text-align:center;
	}
}

@media only screen and (max-width:480px) and (min-width:320px) and (-webkit-min-device-pixel-ratio: 2) {
	.header-left span {
		background: url(../images/icon152x152@2x.png) no-repeat 0px 0px;
		background-size: 152px 152px;
	}
}

@media only screen and (max-width:320px) and (min-width:240px) {
	.wrap{
		width:90%;
	}
	.wrap input[type="text"],.wrap input[type="submit"],.wrap input[type="button"]{
		-webkit-appearance:none;
	}
	.header-right {
		width: 51%;
		padding: 2.5em 0px 0px 0px;
	}
	.header-right p {
		font-size: 1em;
		margin: 0.1em 0 0.2em 0;
	}
	.top-grid-left {
		width: 100%;
		float:none;
		text-align:center;
	}
	.top-grid-right {
		width:100%;
	}
	.top-grid-right h2 a {
		font-size: 1.5em;
		margin: 0px 0px 0.2em 0;
	}
	.top-grid {
		margin-right:0%;
		margin-bottom:1.5%;
		width: 100%;
		float: none;
		text-align:center;
	}
	.panel-right p {
		width: 97%;
	}
	.faq-grid-left-grid p {
		width: 100%;
	}
	.panel-right {
		width: 100%;
		float: none;
		margin:0 0 1.5em 0; 
		text-align:center;
	}
	/*----*/
	.header-left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.header-left span {
		background: url(../images/icon152x152.png) no-repeat 0px 0px;
		width: 152px;
		height: 152px;
	}
	.header-right {
		float:none;
		width:100%;
		margin:1em 0;
		text-align:center;
		padding: 0em 0px 0px 0px;
	}
	.fea-list{
		display:none;
	}
	.logo{
		display:none;
	}
	.fea-list{
		text-align:left;
	}
	#toTop {
		right: 1%;
		bottom: 10px;
	}
	.content-top-grids {
		margin: 2em 0 2em 0;
	}
	.panel-right h3 {
		margin:0;
	}
	.faq-grid-left-grid {
		margin-bottom: 1.5em;
		margin-right:0em;
	}
	.faq-grid-left-grid:nth-child(2),.faq-grid-left-grid:nth-child(4),.faq-grid-left-grid:nth-child(6),.faq-grid-left-grid:nth-child(8){
		margin-right:0;
	} 
	
	.header {
		padding: 1.22em 0px 0px 0px;
	}
	.big-btns {
		margin-top: 1em;
	}
	.panel-right h3,.testimonial-head h4,.news-letter-header h3{
		font-size: 1.5em;
	}
	.btn2{
		font-size: 0.9em;
	}
	.faq-grid-left {
		width: 100%;
		margin-right:0;
	}
	.footer-right {
		float: none;
		text-align:center;
	}
	.header {
		width:100%;
	}
	.panels {
		margin-top: 1em;
	}
	.faq-header p{
		font-size: 0.875em;
	}
	.faq-header h3 {
		font-size: 1.5em;
	}
	.faq-grids {
		margin: 1em 0;
	}
	.faq-grid-left-grid h4 a {
		font-size: 0.875em;
	}
	.faq-grid-left-grid p {
		font-size: 0.8em;
	}
	.stay-with-head h3 {
		font-size: 1.5em;
	}
	.stay-with-head p {
		font-size:0.875em;
	}
	.social-icons {
		margin: 1em 0 0 0;
	}
	.footer {
		margin: 0em 0 1em 0;
	}
	.news-letter-header p ,.top-grid-right p,.panel-right p,.testimonial-head p,.testimonial-grid p{
		font-size:0.875em;
		width:100%;
	}
}

@media only screen and (max-width:320px) and (min-width:240px) and (-webkit-min-device-pixel-ratio: 2) {
	.header-left span {
		background: url(../images/icon152x152@2x.png) no-repeat 0px 0px;
		background-size: 152px 152px;
	}
}